<!DOCTYPE html/>
<html style='font-size: 50px'>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>
      Universal Test
    </title>
  </head>
  <body>
    <div id='root'><%- reactComponent %></div>
    <script>
       window.__INITIAL_STATE__ = <%- initialState %>
     </script>
  </body>
</html>
